// @import 'bootstrap/dist/css/bootstrap.css';

body {
  background: url("./images/weights.jpeg");
  padding: 0;
  // height: 100%;
  // background-color: black;
  // background-size: cover;
  // background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(29,29,29);
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
  // background-size: auto;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-attachment: scroll;
  // background-color: #ffff00;
}
